@import "../../../assets/scss/variables.scss";
:host {
  h1 {
    color: $primary-color;
  }

  .tab-content {
    box-shadow: $tab-shadow;
    padding: 2em;
  }

  .card-employee {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    box-shadow: $tab-shadow;
    span {
      text-align: center;
      h3 {
        color: $primary-color;
        margin-top: 5px;
      }
      p {
        margin: 0px;
        text-align: center;
      }
    }
  }

  section {
    p {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}
