<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
      role="tab" aria-controls="nav-home" aria-selected="true">Recursos humanos</button>
  </div>
</nav>

<div class="tab-content" style="background-color: white;" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="row">
      <div class="col">
        <h1>Recursos humanos</h1>

        <section>
          <h4>Talento y Reclutamiento</h4>
          <p>
            El equipo de talentos de Netflix es responsable de identificar, atraer y desarrollar. Este equipo incluye
            Reclutamiento, Servicios para Empleados y Socios.

            El equipo de Bienes Raíces Corporativos, Salud de los Empleados, Lugar de Trabajo y Seguridad está
            comprometido a crear entornos y experiencias de Netflix a nivel mundial que hagan avanzar el negocio. Esto
            incluye satisfacer las necesidades inmobiliarias de Netflix a medida que la empresa sigue evolucionando;
            ejecutar una variedad de proyectos de capital de principio a fin; crear experiencias laborales efectivas,
            inclusivas y flexibles; y proporcionar programas de seguridad y protección para respaldar funciones
            corporativas y de producción.
          </p>
        </section>

        <section class="d-flex justify-content-center align-items-center p-3">

          <ng-container *ngFor="let employee of employeeInfo">
            <div class="card card-employee m-3">
              <img src="{{employee.img}}" alt="">
              <span>
                <h3>{{employee.name}}</h3>
                <p class="text-muted">{{employee.job}}</p>
              </span>
            </div>
          </ng-container>
        </section>
      </div>
    </div>

  </div>
</div>