<div class="d-flex flex-column flex-shrink-0 p-0 bg-light sidebar-web"
  style="height: 100vh; position: fixed; top:0; z-index: 99999;">
  <span class="nav-icon">
    <a style="margin-top: 15px" href="/">
      <img height="35px" src="../../../assets/img/logo.svg" class="img-sidebar-web" *ngIf="isExpanded" alt="">
      <img src="../../../assets/img/netflix.svg" class="img-sidebar" *ngIf="!isExpanded" alt="">
    </a>
    <!-- <div class="col-md-4" style="text-align: right;">
          <i class="bi bi-list" *ngIf="!isExpanded" (click)="sendForm('true')"></i>
          <i class="bi bi-list" *ngIf="isExpanded" (click)="sendForm('false')"></i>
        </div> -->
  </span>
  <hr>
  <ul *ngIf="isExpanded"
    [ngClass]="{'nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start': isExpanded, 'nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center': !isExpanded}"
    class="p-0 " id="menu">

    <ng-container *ngFor="let menu of navElements">
      <li class="nav-item">
        <a [routerLink]="[menu.route]" class="nav-link align-middle">
          <i class="{{menu.icon}} ms-3"></i> <span class="ms-2 d-none d-sm-inline">{{menu.title}}</span>
        </a>
      </li>
    </ng-container>

  </ul>
  <hr>
  <div ngbDropdown class="nav-item profile-nav dropdown-user">
    <a class="d-flex align-items-center link-light text-decoration-none dropdown-toggle w-100" id="dropdownBasic1"
      ngbDropdownToggle>
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <span>mdo</span>
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>Perfil</button>
      <button ngbDropdownItem>Ajustes</button>
      <button ngbDropdownItem [routerLink]="['/login']">Cerrar sesión</button>
    </div>
  </div>


</div>
