.home-content {
  z-index: 2;
  background: transparent;
  background-color: transparent;
}

.login-button {
  background: #d01e1e;
  border-radius: 5px;
  color: white;
}

.login-button:hover {
  background: #e23f3f !important;
  color: white;
}

.home-phrases {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 71px);
}

.home-phrases > h1 {
  font-size: 60px;
  font-weight: bold;
}

.home-phrases > p {
  font-size: 34px;
  font-weight: 200;
}

.navbar {
  z-index: 9999;
}
