<div class="netflix-background">
</div>

<div class="container-fluid blur-container d-flex flex-column align-items-center justify-content-center">
  <div class="col blur-col">
    <header-nav [loginAccess]="true"></header-nav>

    <div class="col">
      <div class="row">
        <div class="banner-phrases">
          <h1>{{bannerPhrases.welcome}}</h1>
          <p>{{bannerPhrases.promo}}</p>
          <div>
            <button class="btn btn-primary rounded-pill p-3"
              [routerLink]="['/newsletter']">{{bannerPhrases.newsLetter}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>