<div class="container-fluid" style="background: black;">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="isOpen = ! isOpen" [attr.aria-expanded]="!isOpen"
        aria-controls="collapseExample">
        Añadir un contenido
      </button>
    </div>
  </div>
  <div class="row">
    <div #collapse="ngbCollapse" [(ngbCollapse)]="!isOpen">
      <div class="col d-flex align-items-center justify-content-center" style="background: white;">
        <div class="col-4 p-4 d-flex justify-content-center">
          <div class="card">
            <img src="{{form.portada || 'https://i.stack.imgur.com/mwFzF.png'}}" alt="Fissure in Sandstone" />
            <div class="card-body">
              <div class="w-100 d-flex justify-content-center align-items-center">
                <h5 class="card-title">{{form.titulo}}</h5>
                <!-- <button type="button" class="btn btn-primary w-50" (click)="seeTrailer(form.trailer)"
                  data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="bi bi-camera-reels"></i> Trailer
                </button> -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 p-4" style="background: white;">
          <form (ngSubmit)="sendForm()">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example1">Título</label>
              <input type="text" id="form4Example1" name="titulo" [(ngModel)]="form.titulo" class="form-control" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example2">Trailer</label>
              <input type="text" id="form4Example2" name="trailer" [(ngModel)]='form.trailer' class="form-control" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example2">Portada</label>
              <input type="url" name="portada" id="form4Example2" [(ngModel)]='form.portada' class="form-control" />
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form4Example3">Sinópsis</label>
              <textarea class="form-control" name="sinopsis" id="form4Example3" [(ngModel)]='form.sinopsis'
                rows="4"></textarea>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Guardar contenido</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid information-nefilis" style="background: black;">
  <div class="row">
    <div class="col">
      <div class="main-container">
        <h3 id="home" class="text-white p-1">New releases</h3>
        <div class="row">
          <div class="col col-sm-12 col-md-2" *ngFor="let i of moviesPreview">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="{{i[1]}}" alt="Avatar" class="release-img">
                </div>
                <div class="flip-card-back">
                  <h1>{{i[0]}}</h1>
                  <div class="text">
                    <p style="object-fit: contain;  word-wrap: break-word;">{{i[3]}}</p>
                  </div>
                  <a href="{{i[2]}}" target="_blank" rel="noopener noreferrer">
                    <button type="button" class="btn btn-primary w-50 rounded-pill" (click)="seeTrailer(i[2])">
                      <i class="bi bi-camera-reels"></i> Trailer
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background: black;">
  <app-information></app-information>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe width="560" height="315" src="{{urlVideo}}" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save-trailer rounded">Save changes</button>
        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
